# Virtual environments
venv/
env/
.env/

# Python cache files
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Distribution / packaging
dist/
build/
*.egg-info/
*.egg

# Test results
results.md
test_archive/*
!test_archive/.gitkeep
!test_archive/comparisons/
test_archive/comparisons/*
!test_archive/comparisons/.gitkeep

# Leaderboard
leaderboard/*
!leaderboard/.gitkeep

# Logs
logs/*
!logs/.gitkeep

# IDE files
.idea/
.vscode/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db